<!-- layout of whole page -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Do it!</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <aside class="" id="main-aside">
        <div id=profile-wrapper>
            <img src="/img/dogdog.jpg" alt="my body" />
        </div>
        <div id="board-wrapper">
            <ul id="board">
                <li id="devider">내 정보나, 로그아웃 버튼이나 뭐든... 세로 가운데로 맞춰주고/또는 비우고 목록만</li>
                {{{boards}}}
            </ul>
        </div>
    </aside>
    <div id="content-wrapper">
        {{{body}}}
    </div>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>

</html>
