<!-- layout of whole page -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keyword" content="community, communication, blog, personality, hobby, share, friend, hang out, beautiful site">
    <meta name="description" content="Community Site About Everything For Everyone">
    <title>Hang out with us</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/prepost.css">
    <link rel="stylesheet" href="/css/building-room.css">
    <!-- javascript  -->
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/handlebars-v4.0.5.js"></script>
</head>

<body>
    <aside class="" id="main-aside">
        <div id=profile-wrapper>
            <img src="/img/dogdog.jpg" alt="my body" />
        </div>
        <div id="board-wrapper">
            <ul id="board">
                <li id="devider"><a href="/outside" style="text-align:center; font-size:2em; color:white; padding:0">GO OUT</a></li>
                {{{boards}}}
                <li><a id="building-room" href="/outside/building-room">게시판 추가</a></li>
            </ul>
        </div>
    </aside>
    <div class="content-wrapper">
        {{{body}}}
    </div>
    <script type="text/javascript" src="/js/board-verify.js"></script>
    <script type="text/javascript" src="/js/paging-num.js"></script>
    <script type="text/javascript" src="/js/paging-post.js"></script>
    <script type="text/javascript" src="/js/view-post.js"></script>
    <script type="text/javascript" src="/js/building-room.js"></script>
</body>

</html>
