<!-- layout of whole page -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keyword" content="community, communication, blog, personality, hobby, share, friend, hang out, beautiful site">
    <meta name="description" content="Community Site About Everything For Everyone">
    <title>Hang out with us</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/prepost.css">
    <!-- javascript  -->
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/handlebars-v4.0.5.js"></script>
</head>

<body>
    <aside class="" id="main-aside">
        <div id=profile-wrapper>
            <img src="/img/dogdog.jpg" alt="my body" />
        </div>
        <div id="board-wrapper">
            <ul id="board">
                <li id="devider">내 정보나, 로그아웃 버튼이나 뭐든... 세로 가운데로 맞춰주고/또는 비우고 목록만</li>
                {{{boards}}}
                <a href="#"><li>게시판 추가 만들어</li></a>
            </ul>
        </div>
    </aside>
    <div class="content-wrapper">
        {{{body}}}
    </div>
    <script type="text/javascript" src="/js/paging-num.js"></script>
    <script type="text/javascript" src="/js/paging-post.js"></script>
</body>

</html>
