<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Do it!</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/none.css">
    <link rel="stylesheet" href="/css/returning.css">
    <link rel="stylesheet" href="/css/moving.css">
</head>

<body>
    <div class="content-wrapper">
      <!-- view 렌더링 위치 -->
        {{{body}}}
    </div>
    <!-- javascript -->
    <script type="text/javascript" src="/js/submit.js"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>

</html>
