<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keyword" content="community, communication, blog, personality, hobby, share, friend, hang out, beautiful site">
    <meta name="description" content="Community Site About Everything For Everyone">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do it!</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/none.css">
    <link rel="stylesheet" href="/css/moving.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/tip.css">


    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
</head>

<body>
    <div class="content-wrapper">
      <!-- view 렌더링 위치 -->
        {{{body}}}
    </div>
</body>

</html>
