{{!
.handlebars = 템플릿
 .handlebars와 app.js에서 렌더링 할 때 보내는 콘텍스트 객체를 핸들바가 합쳐
 html 파일로 출력한다.
}}
<script type="text/javascript">
$(document).ready(function(){
  // 일단 첫 페이지 로딩
  pagingP('front-door', 1);

  // TODO this snippet causes UItical error : should click twice to move page
  // TODO If refresh site, return to first page //
  // 페이지 번호 클릭시 로딩
  $('.page-wrapper').click(function(event){
    event.preventDefault();
    $('.page').click(function(){
      event.preventDefault();
      pagingP('front-door', $(this).text());
    });
  });
  $('.board-list').click(function(event){
    event.preventDefault();
    alert('sad');
  });
});
</script>
<div class="prepost-list-wrapper">
  <ul id="prepost-template-target">
    <!-- prepost -->
  </ul>
  <ul id="page" class="page-wrapper">
    <!-- page -->
  </ul>
</div>
