{{!
.handlebars = 템플릿
 .handlebars와 app.js에서 렌더링 할 때 보내는 콘텍스트 객체를 핸들바가 합쳐
 html 파일로 출력한다.
}}
<div class="prepost-list-wrapper">
  <ul>
    <li class="prepost-wrapper">
      <script type="text/javascript">
        $(document).ready(function(){
          paging('home');
        });
      </script>
      <div class="prepost prepost-title">
        <span>게시판 표시</span>
        <br>
        <a href="#"><span>제목 표시</span></a>
      </div>
      <div class="prepost prepost-detail">
        <span>작성자 표시</span>
        <br>
        <span>날짜 표시</span>
      </div>
    </li>
    <li>
      <div class="page">
        <span id="page"></span>
      </div>
    </li>
  </ul>
</div>
