{{!
.handlebars = 템플릿
 .handlebars와 app.js에서 렌더링 할 때 보내는 콘텍스트 객체를 핸들바가 합쳐
 html 파일로 출력한다.
}}
<div class="prepost-list-wrapper">
  <ul>
    <li class="prepost-wrapper">
      <div class="prepost-title">
        <pre>게시판 표시
제ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ목 표시</pre>
      </div>
      <div class="prepost-detail">
        <pre>작성자 표시
날짜 표시</pre>
      </div>
    </li>
    <li class="prepost-wrapper">
      <div class="prepost-title">
        <pre>게시판 표시
동적으로 목록 표시하기</pre>
      </div>
      <div class="prepost-detail">
        <pre>작성자 표시
날짜 표시</pre>
      </div>
    </li>
    <li class="prepost-wrapper">
      <div class="prepost-title">
        <pre>게시판 표시
ㅁㄴㅇ 표시</pre>
      </div>
      <div class="prepost-detail">
        <pre>작성자 표시
날짜 표시</pre>
      </div>
    </li>
  </ul>
</div>
