<div id="burden-wrapper">
  <form id="form-burden" action="/moving" method="post" name="submitter">
    <input type="text" name="id" placeholder="ID" class="form-input form-moving">
    <input type="text" name="pwd" placeholder="PASSWORD" class="form-input form-moving">
    <input type="text" name="email" placeholder="E-MAIL" class="form-input form-moving">
  </form>
  <span><h3>Press <span class="enter">enter</span> to finish moving</h3></span>
  <span><h3>or <span class="enter">backspace</span> to cancle moving</h3></span>
  <span id="flash"></span>
</div>
