<div id="login-wrapper">
  <form id="form-returning" action="/outside/returning" method="post" name="submitter">
    <input type="text" name="id" placeholder="ID" class="form-input form-returning" id="login-id">
    <input type="text" name="pwd" placeholder="Password" class="form-input form-returning" id="login-pwd">
  </form>
  <span><h3>Press <span class="enter">enter</span> to finish returning</h3></span>
  <span><h5>We wish you to <a href="/outside/moving">be our neighbor</a></h5></span>
</div>
