#burden-wrapper{
  max-width: 600px;
  margin: auto;
  margin-top: 115px;
}
#burden-wrapper span{
  text-align: center;
}
/***************form***************/
input:first-child{
  margin-top: 0px;
}
.form-moving{
  width: 100%;
  margin-top: 30px;
}

/**********************************/

/*************content**************/



/**********************************/
