
#burden-wrapper{
  max-width: 600px;
  margin: auto;
  margin-top: 55px;
}
#burden-wrapper span{
  text-align: center;
}
/***************form***************/
.form-moving{
  width: 100%;
  /* to use tooltip*/
  position: relative;
}
#pwdck-slider, #keyck-slider{
  display: none;
}
.tip-text{
  width: 60%;
  right: 3px;
  top: 20px;
}

/**********************************/

/*************content**************/



/**********************************/
