html, body{
  height: 100%;
  margin: 0;
}
body{
  background-color: #f8f8f8;
}

a{
  text-decoration: none;
  color: blue;
}

/******************/

/******aside********/
#main-aside{
  width: 17%;
  max-width: 210px;
  min-width: 170px;
  height: inherit;
  float:left;

  /*background-color:#FF707E;*/
  background-color: #ff6f69;
  box-shadow: 3px 0px 10px gray;
}
#profile-wrapper img{
  max-width: 100%;
}
#board{
  margin-top: 0px;
  padding-left: 0px;
}
#board li{
  height: 30px;
  margin-bottom: 17px;
  padding-left: 12px;

  color: #f8f8f8;
  /*background-color: #FF4545;*/
  font-size: 0.85em;
  font-weight: bold;
}
#devider{
  height: 80px !important;
  margin-top: 15px;
  margin-bottom: 19px !important;
}
/*******************/

/******content*****/
.content-wrapper{
  width: 83%;
  height:inherit;
  float:left;
}

ul{
  list-style: none;
}
/******************/
