<div class="board-verify-wrapper">
  <form class="borad-verify-form" action="/" method="post">
    <input type="password" name="board-verify-password" placeholder="* * *">
    <input type="submit" name="board-verify-submitter" value="SUbmit">
  </form>
</div>
