<li class="prepost-wrapper">
    <div class="prepost prepost-comment-title">
        <span class="prepost-small">{{this.cmnt_Writer}}</span>
        <br>
        <span class="prepost-normal">{{this.cmnt_Content}}</span>
    </div>
    <div class="prepost prepost-comment-detail">
        <span class="prepost-small">{{this.cmnt_Date}}</span>
    </div>
</li>
