  <li class="prepost-wrapper">
    <div class="prepost prepost-title">
      <span>{{this.brd_Title}}</span>
      <br>
      <a href="#"><span>{{this.pst_Title}}</span></a>
    </div>
    <div class="prepost prepost-detail">
      <span>{{this.mbr_Nick}}</span>
      <br>
      <span>{{this.pst_Date}}</span>
    </div>
  </li>
